.card {
    display: inline-block;
    text-align: center;
    background-color: #9eebcf;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    transition: transform 0.25s ease-out;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}
