.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #9eebcf;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    transition: transform 0.25s ease-out;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}

.robotImage {
    margin-block-end: 10px;
}

.robotName {
    font-size: 1rem;
}

.robotEmail {
    font-size: 0.7rem;
}
